<main class="main-container">

  <section id="category">

    <div class="personal-data-cat">
      <div class="icon-cat">
        <%= image_tag "header/user-svgrepo-com.svg", class: "icon-cat-user", alt: "Profile icon" %>
      </div>

      <div class="text-cat">
        <p id="user-first-last-name"><%= current_manufacturer.title_manufacturer %></p>
        <p id="user-email"><%= current_manufacturer.email %></p>
      </div>
    </div>

    <div class="item-cat" id="add-item-cat">
      <h1 class="item-cat-title">Додати товари</h1>
    </div>

    <div class="item-cat" id="item-list-cat" style="display: block">
      <%= link_to manufacturer_products_path(current_manufacturer), class: "view-products-link" do %>
        <h1 class="item-cat-title">Переглянути товари</h1>
      <% end %>
    </div>

    <div class="item-cat" id="remove-item-cat">
      <h1 class="item-cat-title">Видалити товари</h1>
    </div>
  </section>

  <section id="category-data">
    <div class="personal-data">

      <h1 class="personal-data-header">Особиста інформація</h1>

      <div class="personal-data-full-name-grid">
        <div class="contact-data-column">
          <p class="personal-data-column-title">Прізвище</p>
          <p class="personal-data-field"><%= current_manufacturer.person_last_name %></p>
        </div>

        <div class="contact-data-column">
          <p class="personal-data-column-title">Ім'я</p>
          <p class="personal-data-field"><%= current_manufacturer.person_name %></p>
        </div>

        <div class="contact-data-column">
          <p class="personal-data-column-title">По батькові</p>
          <p class="personal-data-field"><%= current_manufacturer.person_middle_name %></p>
        </div>

        <div class="contact-data-column">
          <p class="personal-data-column-title">Назва виробника</p>
          <p class="contact-data-field"><%= current_manufacturer.title_manufacturer %></p>
        </div>

        <div class="contact-data-column">
          <p class="personal-data-column-title">Номер телефону</p>
          <p class="contact-data-field"><%= current_manufacturer.phone_number %></p>
        </div>

        <div class="contact-data-column">
          <p class="personal-data-column-title">Email</p>
          <p class="contact-data-field"><%= current_manufacturer.email %></p>
        </div>
      </div>

      <div class="button-container">
        <button class="change-data-button">Редагувати</button>
      </div>

    </div>

    <div class="add-item" style="display: none">
      <%= render 'products/form', product: @product %>
    </div>


    <div class="item-list" style="display: none">


    </div>

    <div class="remove-item">
    </div>


  </section>

</main>