<main class="main-container">

  <section id="category">

    <div class="personal-data-cat">
      <div class="icon-cat">
        <%= image_tag "header/user-svgrepo-com.svg", class: "icon-cat-user", alt: "Profile icon" %>
      </div>

      <div class="text-cat">
        <p id="user-first-last-name"><%= current_manufacturer.title_manufacturer %></p>
        <p id="user-email"><%= current_manufacturer.email %></p>
      </div>
    </div>

    <div class="item-cat" id="add-item-cat">
      <h1 class="item-cat-title"><%= t('users.profiles.show.add_prod') %></h1>
    </div>

    <div class="item-cat" id="item-list-cat" style="display: block">
      <div class="item-cat" id="item-list-cat" style="display: block">
        <h1 class="item-cat-title"><%= t('.view_prod') %></h1>
      </div>
    </div>

    <div class="item-cat" id="remove-item-cat" style="display: none">
      <h1 class="item-cat-title"><%= t('users.profiles.show.del_prod') %></h1>
    </div>

    <div class="item-cat" id="chat-cat">
      <h1 class="item-cat-title"><%= t('users.profiles.show.chats') %></h1>
    </div>


    <div class="item-cat" id="user-sets-cat" style="display: none">
      <p class="item-cat-title"><%= t('users.profiles.show.set') %></p>
    </div>
  </section>

  <section id="category-data">
    <div class="personal-data">

      <h1 class="personal-data-header"><%= t('users.profiles.show.per_inform') %></h1>

      <div class="personal-data-full-name-grid">
        <div class="contact-data-column">
          <p class="personal-data-column-title"><%= t('users.registrations.new.sur_name') %></p>
          <p class="personal-data-field"><%= current_manufacturer.person_last_name %></p>
        </div>

        <div class="contact-data-column">
          <p class="personal-data-column-title"><%= t('users.registrations.new.name') %></p>
          <p class="personal-data-field"><%= current_manufacturer.person_name %></p>
        </div>

        <div class="contact-data-column">
          <p class="personal-data-column-title"><%= t('users.registrations.new.mid_name') %></p>
          <p class="personal-data-field"><%= current_manufacturer.person_middle_name %></p>
        </div>

        <div class="contact-data-column">
          <p class="personal-data-column-title"><%= t('manufacturers.registrations.new.company') %></p>
          <p class="contact-data-field"><%= current_manufacturer.title_manufacturer %></p>
        </div>

        <div class="contact-data-column">
          <p class="personal-data-column-title"><%= t('users.registrations.new.phone') %></p>
          <p class="contact-data-field"><%= current_manufacturer.phone_number %></p>
        </div>

        <div class="contact-data-column">
          <p class="personal-data-column-title"><%= t('users.sessions.new.email_f') %>l</p>
          <p class="contact-data-field"><%= current_manufacturer.email %></p>
        </div>
      </div>

      <div class="button-container">
        <button class="change-data-button"><%= t('users.profiles.show.edit') %></button>
      </div>

    </div>

    <div class="add-item" id="add-item-id" style="display: none">
      <%= render 'products/form', product: @product %>
      <% if flash[:alert].present? %>
        <div class="flash alert">
          <%= flash[:alert] %>
        </div>
      <% end %>
    </div>


    <div class="item-list" id="item-list-id" style="display: none">
      <div class="item-list-content">
        <% @products.each do |product| %>
          <% furniture = Furniture.find(product.furniture_id) %>
          <div class="product-item" id="product-<%= product.id %>">
            <%= link_to product_path(product), class: "product" do %>
              <div class="grey-square">
                <%= image_tag(product.product_image, class: 'image-div') if product.product_image.attached? %>
              </div>
              <div class="product-info">
                <p class="product-name"><%= "#{furniture.name} (#{product.prod_model})" %></p>
                <p class="product-price"><%= number_to_currency(product.price, unit: "₴") %></p>
              </div>
            <% end %>

            <%= form_with(model: product, method: :delete, local: true) do %>

              <%= submit_tag 'submit', class: 'delete-button',
                             id: 'delete-option', value: t('users.profiles.show.delete') %>

            <% end %>
          </div>
        <% end %>
      </div>

      <div class="export-buttons">
        <%= link_to t('.export_to_csv'), export_csv_products_path(format: :csv), class: "csv-button" %>
      </div>
    </div>


    <div class="remove-item">
    </div>

    <div class="chat-list" style="display: none">
        <% @manufacturer_chats.chats.each do |chat| %>
          <%= link_to chat_path(chat), class: "chat-link" do %>
            <div class="prod-set">
              <%= "#{t('users.profiles.show.chat_with')} #{chat.user.username}" %>
            </div>
          <% end %>
        <% end %>
    </div>

    <div class="user-sets" style="display: none">
    </div>

  </section>

</main>