<div id="<%= dom_id order %>">
  <p>
    <strong>Client:</strong>
    <%= order.client_id %>
  </p>

  <p>
    <strong>Order date:</strong>
    <%= order.order_date %>
  </p>

  <p>
    <strong>Postcode:</strong>
    <%= order.postcode %>
  </p>

  <p>
    <strong>Order total val:</strong>
    <%= order.order_total_val %>
  </p>

  <p>
    <strong>Order status:</strong>
    <%= order.order_status %>
  </p>

</div>
