<div class="page-container">
  <div class="order-dialog">
    <h1>Замовлення товара "<%= @product.prod_model %>"</h1>
    <%= form_with(model: @order, url: orders_path) do |form| %>
      <%= form.hidden_field :product_id, value: @product.id %>


      <div class="field">
        <% ready_date = Date.today + @product.production_days.days %>
        <p>Дата готовності товару: <%= ready_date.strftime("%Y-%m-%d") %></p>
      </div>


      <div class="field">
        <%= form.label :quantity, 'Кількість:' %>
        <%= form.number_field :quantity, min: 1, value: 1 %>
      </div>


      <div class="field">
        <%= form.label :delivery_day, 'Дата доставки:' %>
        <%= form.select :delivery_day, options_for_select(@closest_delivery_dates.each_slice(2).map(&:last)) %>
      </div>


      <div class="actions">
        <%= form.submit 'Замовити' %>
      </div>
    <% end %>
  </div>
</div>



<!--<h1>New order</h1>-->

<%#= render "form", order: @order %>

<!--<br>-->

<!--<div>-->
<%#= link_to "Back to orders", orders_path %>
<!--</div>-->

<!--<h1>Замовлення товара "<%#= @product.prod_model %>"</h1>-->
<%#= form_with(model: @order) do |form| %>
  <%#= form.hidden_field :product_id, value: @product.id %>
<!--  <div class="field">-->
    <%#= form.label :quantity, 'Кількість:' %>
    <%#= form.number_field :quantity, min: 1, value: 1 %>
<!--  </div>-->
<!--  <div class="actions">-->
    <%#= form.submit 'Замовити' %>
<!--  </div>-->
<%# end %>