<div class="page-container">
  <div class="order-dialog">
    <h1><%= t('.order') %> "<%= @product.prod_model %>"</h1>
    <%= form_with(model: @order, url: orders_path) do |form| %>
      <%= form.hidden_field :product_id, value: @product.id %>


      <div class="field">
        <% ready_date = Date.today + @product.production_days.days %>
        <p><%= t('.date') %> <%= ready_date.strftime("%Y-%m-%d") %></p>
      </div>


      <div class="field">
        <%= form.label :quantity, t('.quantity') %>
        <%= form.number_field :quantity, min: 1, value: 1 %>
      </div>

      <div class="field">
        <%= form.label :delivery_day, t('.del_date') %>
        <%= form.text_field :delivery_day, id: "order_delivery_day", readonly: true, onclick: "confirmAndRedirectToNewChat()" %>
      </div>

      <script>
          function confirmAndRedirectToNewChat() {
              flatpickr("#order_delivery_day", {
                  enable: <%= raw @closest_delivery_dates.select { |item| item[0].match?(/\d{4}-\d{2}-\d{2}/) }.map { |item| item[0] }.to_json %>,
                  dateFormat: "Y-m-d",
                  minDate: "2024.05.07",
                  inline: true,
                  onChange: function(selectedDates, dateStr, instance) {
                      // Змініть значення поля вводу, коли вибрано нову дату
                      document.querySelector("#order_delivery_day").value = dateStr;
                  }
              });
          }
      </script>

      <div class="actions">
        <%= form.submit t('.btn_order') %>
      </div>
    <% end %>
  </div>
</div>



<!--<h1>New order</h1>-->

<%#= render "form", order: @order %>

<!--<br>-->

<!--<div>-->
<%#= link_to "Back to orders", orders_path %>
<!--</div>-->

<!--<h1>Замовлення товара "<%#= @product.prod_model %>"</h1>-->
<%#= form_with(model: @order) do |form| %>
  <%#= form.hidden_field :product_id, value: @product.id %>
<!--  <div class="field">-->
    <%#= form.label :quantity, 'Кількість:' %>
    <%#= form.number_field :quantity, min: 1, value: 1 %>
<!--  </div>-->
<!--  <div class="actions">-->
    <%#= form.submit 'Замовити' %>
<!--  </div>-->
<%# end %>