<main class="main-container">

  <section id="category">

    <div class="personal-data-cat">

      <div class="icon-cat">
        <%= image_tag "header/user-svgrepo-com.svg", class: "icon-cat-user", alt: "Profile icon" %>
      </div>

      <div class="text-cat">
        <p id="user-first-last-name"><%= "#{current_user.first_name} #{current_user.last_name}" %></p>
        <p id="user-email"><%= current_user.email %></p>
      </div>

    </div>

    <div class="item-cat" id="user-sets-cat">
      <p class="item-cat-title"><%= t('.set') %></p>
    </div>

    <div class="item-cat" id="add-item-cat" style="display: none">
      <p class="item-cat-title"><%= t('.add_prod') %></p>
    </div>

    <div class="item-cat" id="remove-item-cat" style="display: none">
      <p class="item-cat-title"><%= t('.del_prod') %></p>
    </div>

    <div class="item-cat" id="item-list-cat">
      <p class="item-cat-title"><%= t('.order') %></p>
    </div>

    <div class="item-cat" id="chat-cat">
      <h1 class="item-cat-title"><%= t('.chat') %></h1>
    </div>


  </section>

  <section id="category-data">
    <div class="personal-data">

      <h1 class="personal-data-header"><%= t('.per_inform') %></h1>

      <div class="personal-data-full-name-grid">

        <div class="contact-data-column">
          <p class="personal-data-column-title"><%= t('users.registrations.new.sur_name') %></p>
          <p class="personal-data-field"><%= current_user.last_name %></p>
        </div>

        <div class="contact-data-column">
          <p class="personal-data-column-title"><%= t('users.registrations.new.name') %></p>
          <p class="personal-data-field"><%= current_user.first_name %></p>
        </div>

        <div class="contact-data-column">
          <p class="personal-data-column-title"><%= t('users.registrations.new.mid_name') %></p>
          <p class="personal-data-field"><%= current_user.middle_name %></p>
        </div>


        <div class="contact-data-column">
          <p class="personal-data-column-title"><%= t('users.registrations.new.phone') %></p>
          <p class="contact-data-field"><%= current_user.phone_number %></p>
        </div>

        <div class="contact-data-column">
          <p class="personal-data-column-title"><%= t('users.sessions.new.email_f') %></p>
          <p class="contact-data-field"><%= current_user.email %></p>
        </div>

        <div class="contact-data-column">
          <p class="personal-data-column-title"><%= t('.currency') %></p>
          <p class="contact-data-field"><%= current_user.currency %></p>
        </div>
      </div>

      <div class="exchange-rate" style="display: flex; justify-content: center; margin-top: 50px">
        <% user_currency = current_user.currency %>
        <% exchange_rate = current_user.get_exchange_rates(user_currency) %>
        <% if exchange_rate %>
          <% if user_currency == 'UAH' %>
            <p style="margin: 0">1 UAH = <%= exchange_rate %> USD</p>
          <% elsif user_currency == 'EUR' %>
            <p style="margin: 0">1 EUR = <%= exchange_rate %> USD</p>
          <% end %>
        <% else %>
          <p style="margin: 0">Exchange rate is not available</p>
        <% end %>
      </div>

      <div class="button-container">
        <button class="change-data-button"><%= t('.edit') %></button>
      </div>
    </div>

    <div class="user-sets">
      <div id="prod_sets">
        <% @prod_sets.each do |prod_set| %>
          <div class="prod-set">
            <p class="set-name"><%= prod_set.set_name %></p>
            <div class="product-list">
              <% if prod_set.prod_data.present? %>
                <% prod_set.prod_data.each do |product_id, quantity| %>
                  <% product = Product.find(product_id) %>
                  <div class="prod">
                    <p><%= product.prod_model %> x<%= quantity %></p>
                  </div>
                <% end %>
              <% else %>
                <p><%= t('.amount_prod') %></p>
              <% end %>
            </div>
          </div>
        <% end %>
        <div class="button-container">
          <%= link_to t('.create_set'), new_prod_set_path(user_id: current_user.id), class: "create-set-button" %>
        </div>
      </div>
    </div>

    <div class="add-item">
      <!--      <div>-->
      <%# if @sub_categories.present? %>
      <%#= label_tag :sub_category_id, "Оберіть категорію", style: "display: block" %>
      <%#= select_tag :sub_category_id, options_for_select(@sub_categories.map { |sub_category| [sub_category.subcat_name, sub_category.id] }), id: "sub_category_select" %>
      <%# else %>
      <!--          <p>Немає доступних товарів</p>-->
      <%# end %>
      <!--      </div>-->

      <!--      <div id="products-dropdown">-->
      <!--        <table class="product-table">-->
      <!--          <thead>-->
      <!--          <tr>-->
      <!--            <th></th>-->
      <!--            <th>Модель</th>-->
      <!--            <th>Ціна</th>-->
      <!--            <th>Опис</th>-->
      <!--          </tr>-->
      <!--          </thead>-->
      <!--          <tbody>-->
      <%# if @products.present? %>
      <%# @products.each do |product| %>
      <!--            <tr>-->
      <!--              <td><%#= check_box_tag "product_ids[]", product.id %></td>-->
      <!--              <td><%#= product.prod_model %></td>-->
      <!--              <td><%#= product.price %></td>-->
      <!--              <td><%#= product.descriptions %></td>-->
      <!--            </tr>-->
      <%# end %>
      <%# end %>
      <!--          </tbody>-->
      <!--        </table>-->
      <!--      </div>-->
    </div>


    <div class="remove-item">
    </div>

    <div class="item-list">
      <% @orders.each do |order| %>
        <div class="order">
          <p class="order-header"><%= t('.num_info') %> №<%= order.id %></p>
          <div class="order-details">
            <p><%= order.product.prod_model %> x<%= order.quantity %></p>
            <p><%= t('.sum_order') %>: <%= number_to_currency(order.total_price, unit: "₴") %></p>
          </div>
        </div>
      <% end %>
    </div>

    <div class="chat-list" style="display: none">
      <% @user_chats.chats.each do |chat| %>
        <%= link_to "#{t('.chat_with')} #{chat.manufacturer.username}", chat_path(chat) %><br>
      <% end %>
    </div>

  </section>

</main>

<!--<script>-->
<!--    document.addEventListener('turbo:load', function() {-->
<!--        let createButton = document.querySelector(".create-set-button");-->
<!--        let formDiv = document.getElementById("createSetForm");-->
<!--        let overlay = document.getElementById("createSetForm-overlay");-->
<!--        let closeButton = document.querySelector(".close-button");-->

<!--        createButton.addEventListener("click", function(event) {-->
<!--            event.preventDefault();-->
<!--            formDiv.style.display = "block";-->
<!--            overlay.style.display = "block";-->
<!--        });-->

<!--        closeButton.addEventListener("click", function() {-->
<!--            formDiv.style.display = "none";-->
<!--            overlay.style.display = "none";-->
<!--        });-->
<!--    });-->
<!--</script>-->