<main class="main-container">

  <section id="category">

    <div class="personal-data-cat">

      <div class="icon-cat">
        <%= image_tag "header/user-svgrepo-com.svg", class: "icon-cat-user", alt: "Profile icon" %>
      </div>

      <div class="text-cat">
        <p id="user-first-last-name"><%= "#{current_user.first_name} #{current_user.last_name}" %></p>
        <p id="user-email"><%= current_user.email %></p>
      </div>

    </div>

    <div class="item-cat" id="user-sets-cat">
      <p class="item-cat-title">Мої сети</p>
    </div>

    <div class="item-cat" id="add-item-cat" style="display: none">
      <h1 class="item-cat-title">Додати товари</h1>
    </div>

    <div class="item-cat" id="remove-item-cat" style="display: none">
      <p class="item-cat-title">Видалити товари</p>
    </div>

    <div class="item-cat" id="item-list-cat">
      <p class="item-cat-title">Мої замовлення</p>
    </div>

  </section>

  <section id="category-data">
    <div class="personal-data">

      <h1 class="personal-data-header">Особиста інформація</h1>

      <div class="personal-data-full-name-grid">

        <div class="contact-data-column">
          <p class="personal-data-column-title">Прізвище</p>
          <p class="personal-data-field"><%= current_user.last_name %></p>
        </div>

        <div class="contact-data-column">
          <p class="personal-data-column-title">Ім'я</p>
          <p class="personal-data-field"><%= current_user.first_name %></p>
        </div>

        <div class="contact-data-column">
          <p class="personal-data-column-title">По батькові</p>
          <p class="personal-data-field"><%= current_user.middle_name %></p>
        </div>
<!--      </div>-->

<!--      <div class="contact-data-grid">-->

        <div class="contact-data-column">
          <p class="personal-data-column-title">Номер телефону</p>
          <p class="contact-data-field"><%= current_user.phone_number %></p>
        </div>

        <div class="contact-data-column">
          <p class="personal-data-column-title">Email</p>
          <p class="contact-data-field"><%= current_user.email %></p>
        </div>

<!--      </div>-->
      </div>

      <div class="button-container">
        <button class="change-data-button">Редагувати</button>
      </div>
    </div>

    <div class="user-sets" style="display: none">
      <div id="prod_sets">
        <% @prod_sets.each do |prod_set| %>
          <div class="prod-set">
            <p class="set-name"><%= prod_set.set_name %></p>
            <div class="product-list">
              <% if prod_set.prod_data.present? %>
                <% prod_set.prod_data.each do |product_id, quantity| %>
                  <% product = Product.find(product_id) %>
                  <div class="prod">
                    <p><%= product.prod_model %> x<%= quantity %></p>
                  </div>
                <% end %>
              <% else %>
                <p>В цьому сеті немає продуктів.</p>
              <% end %>
            </div>
          </div>
        <% end %>
        <div class="button-container">
          <%= link_to "Створити сет", new_prod_set_path(user_id: current_user.id), class: "create-set-button" %>
<!--          <a href="#" class="create-set-button">Створити сет</a>-->
        </div>
      </div>

<!--      Діалогове вікно для створення нового сету -->
<!--      <div id="createSetForm" style="display: none;">-->
        <%#= form_with(model: ProdSet.new) do |form| %>
          <%# if form.object.errors.any? %>
<!--            <div style="color: red">-->
<!--              <h2><%#= pluralize(form.object.errors.count, "error") %> prohibited this prod_set from being saved:</h2>-->
<!--              <ul>-->
                <%# form.object.errors.full_messages.each do |message| %>
<!--                  <li><%#= message %></li>-->
                <%# end %>
<!--              </ul>-->
<!--            </div>-->
          <%# end %>

<!--          <div style="display: none;">-->
            <%#= form.label :user_id, style: "display: block" %>
            <%#= form.text_field :user_id, value: current_user.id %>
<!--          </div>-->

<!--          <div>-->
            <%#= form.label :set_name, style: "display: block" %>
            <%#= form.text_field :set_name %>
<!--          </div>-->

<!--          <div>-->
            <%#= form.submit %>
<!--          </div>-->
        <%# end %>
<!--      </div>-->
<!--      <div id="createSetForm-overlay" style="display: none;"></div>-->

    </div>

    <div class="add-item">
    </div>

    <div class="remove-item">
    </div>

    <div class="item-list">
      <% @orders.each do |order| %>
        <div class="order">
          <p class="order-header">Замовлення №<%= order.id %></p>
          <div class="order-details">
            <p><%= order.product.prod_model %> x<%= order.quantity %></p>
            <p>Сума замовлення: <%= number_to_currency(order.total_price, unit: "₴") %></p>
          </div>
        </div>
      <% end %>
    </div>

  </section>

</main>

<!--<script>-->
<!--    document.addEventListener('turbo:load', function() {-->
<!--        let createButton = document.querySelector(".create-set-button");-->
<!--        let formDiv = document.getElementById("createSetForm");-->
<!--        let overlay = document.getElementById("createSetForm-overlay");-->
<!--        let closeButton = document.querySelector(".close-button");-->

<!--        createButton.addEventListener("click", function(event) {-->
<!--            event.preventDefault();-->
<!--            formDiv.style.display = "block";-->
<!--            overlay.style.display = "block";-->
<!--        });-->

<!--        closeButton.addEventListener("click", function() {-->
<!--            formDiv.style.display = "none";-->
<!--            overlay.style.display = "none";-->
<!--        });-->
<!--    });-->
<!--</script>-->