<%= form_with(model: furniture) do |form| %>
  <% if furniture.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(furniture.errors.count, "error") %> prohibited this furniture from being saved:</h2>

      <ul>
        <% furniture.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
