<div class="chat">
  <div class="chat_wrapper">
    <div id="room-messages" data-room-id="<%= @room.id %>" class="chat-container" data-controller="room_messages">
      <div id="messages" class="room-messages" data-room_messages-target="container">
        <% @messages.each do |message| %>
          <div class="message">
            <% if message.user_id.present? %>
              <strong><%= "#{message.user.username}:" %></strong>
            <% elsif message.manufacturer_id.present? %>
              <strong><%= "#{message.manufacturer.username}:" %></strong>
            <% end %>
            <%= message.content %>
          </div>
        <% end %>
      </div>
      <div class="chat-form">
        <%= render "room_messages/form", room: room %>
      </div>
    </div>
  </div>
</div>
