<div class = "room-header">
  <h3><%= t('rooms.show.chatroom') %><%= t("rooms.show.#{@category_name}") %></h3>
</div>
  <div class="room_wrapper">
    <div id="room-messages" data-room-id="<%= @room.id %>" data-room-category="<%= @room.category_name %>"
         data-user-id="<%= @user.id %>" class="room-container" data-controller="room_messages">
      <div id="room-message" class="room-messages" data-room_messages-target="container">
        <% @messages.each do |message| %>
          <div class="message">
            <% if message.user_id.present? && message.user_id == current_user.id %>
              <strong><%= "#{message.user.username}: " %></strong><%= "#{message.body} " %>
            <% else %>
              <%= "#{message.user.username}: #{message.body} " %>
            <% end %>
          </div>
        <% end %>
      </div>

      <form id="room-message-form" class="chat-form">
        <input type="text" id="room-message-input" class="message-input" placeholder=<%= t('chats.show.place') %>>
        <button type="submit" class="chat-submit"><%= t('chats.show.send') %></button>
        <a href="<%= description_category_path(@category_name) %>" data-method="post" class="chat-submit"><%= t('rooms.show.Back') %></a>
        <a href="<%= rooms_path() %>" data-method="post" class="chat-submit"><%= t('rooms.index.rooms') %></a>
      </form>
    </div>
</div>
