<div class="background-image-descr">
  <div class="container-descr">
    <%= image_tag "categorys/#{@category_name}.jfif", class: "cat-img-descr", alt: "Кухня" %>
    <div class="category-description">
      <%= render "categories/descriptions/#{@category_name.downcase}", sub_categories: @sub_categories %>
    </div>
    <div class="button-row">
      <a href="<%= sub_categories_path(category_name: @category_name) %>" class="cat-button"><%= t('categories.descriptions.btn') %></a>
      <% if current_user%>
      <% if current_user.favorite_categories.present? && current_user.favorite_categories.include?(@category_name) %>
        <a href="<%= room_show_path(category_name: @category_name) %>" data-method="post" class="cat-button"><%= t('categories.descriptions.chatroom') %></a>
        <a href="<%= remove_favorite_category_path(category_name: @category_name) %>" data-method="delete" class="favorite-button"><%= t('categories.descriptions.unlike') %></a>
      <% else %>
        <a href="<%= add_favorite_category_path(category_name: @category_name) %>" data-method="post" class="cat-button" onclick="confirmAndRedirectToChats()"><%= t('categories.descriptions.like') %></a>
      <% end %>
      <% end %>
    </div>
  </div>
</div>

<script>
    function confirmAndRedirectToChats() {
        if (confirm("Redirect to category chat-groups?")) {
            window.location.href = "<%= room_show_path(category_name: @category_name) %>";
        }
    }
</script>
