<div class="background-image">
  <div class="container-sign">
    <h2><%= t('users.sessions.new.log') %></h2>

    <div class="form-container">
      <%= form_with(model: resource, url: session_path(resource_name)) do |f| %>
        <div><%= f.email_field :email, placeholder: t('users.sessions.new.email_f'), class: 'input-field' %></div>
        <div><%= f.password_field :password, placeholder: t('users.sessions.new.pass_f'), class: 'input-field' %></div>
        <div><%= f.submit t('users.sessions.new.sign_in'), class: 'btn' %></div>
      <% end %>
    </div>

    <div class="container-sign-item-link">
      <p><%= link_to t('users.sessions.new.regist'), new_manufacturer_registration_path, class: "link-registration" %></p>
      <p><%= link_to t('users.sessions.new.for_pas'), new_user_password_path, class: "link-registration" %></p>
      <p><%= link_to t('.user'), new_user_session_path, class: "link-registration" %></p>
    </div>

  </div>
</div>
