<div class="chat_wrapper">
  <div class="chat-container">
    <h1 class="chat-header">New Chat</h1>
    <%= form_with(model: @chat, url: chats_path, method: :post) do |form| %>
      <% if @chat.present? && @chat.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@chat.errors.count, "error") %> prohibited this chat from being saved:</h2>
          <ul>
            <% @chat.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="chat-info">
        <p>Обраний виробник: <%= @manufacturer.title_manufacturer %></p>
        <p>Його пошта: <%= @manufacturer.email %></p>
      </div>

      <%= form.submit "Створити", class: "chat-submit" %>
      <%#= link_to t('.new_chat'), new_chat_path, id: "create-chat-link"%>
      <% if params[:manufacturer_id].present? %>
        <%= link_to t('.new_chat'), new_chat_path(manufacturer_id: params[:manufacturer_id]), id: "create-chat-link" %>
      <% end %>
      <%= link_to "Назад", chats_path, class: "chat-submit" %>
    <% end %>
  </div>
</div>
