<%= form_with(model: product, url: products_path) do |form| %>
  <% if product.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
        <% product.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :manufacturer_id, style: "display: none" %>
    <%= form.text_field :manufacturer_id, value: @manufacturer, style: "display: none" %>
  </div>

  <div class="form-element">
    <%= form.label :furniture_id, "Тип фурнітури", style: "display: block" %>
    <%= form.select :furniture_id, options_for_select(@furniture_name) %>
  </div>

  <div class="form-element">
    <%= form.label :sub_category_id, "Підкатегорія товару", style: "display: block" %>
    <%= form.select :sub_category_id, options_for_select(@sub_category_name) %>
  </div>

  <div class="form-element">
    <%= form.label :prod_model, "Назва товару", style: "display: block" %>
    <%= form.text_field :prod_model %>
  </div>

  <div class="form-element">
    <%= form.label :price, "Ціна товару",  style: "display: block" %>
    <%= form.text_field :price %>
  </div>

  <div class="form-element">
    <%= form.label :description, "Опис товару",  style: "display: block" %>
    <%= form.text_area :description %>
  </div>

  <div class="form-element" id="prod-image">
    <%= form.label :product_image, t('activerecord.attributes.product.prod_image'), style: "display: block" %>
    <%= form.file_field :product_image %>
  </div>

  <!-- Додати поля для кількості днів на виробництво та дні тижня для доставки -->
  <div class="form-element">
    <%= form.label :production_days, "Скільки днів буде вироблятися товар?",  style: "display: block" %>
    <%= form.number_field :production_days %>
  </div>



  <div class="form-element" id="delivery">
    <%= form.label :delivery_days, t('activerecord.attributes.product.delivery_days'), style: "display: block" %>
    <div id="delivery-days">
      <% %w[Понеділок Вівторок Середа Четвер П'ятниця Субота Неділя].each do |day| %>
        <%= check_box_tag 'product[delivery_days][]', day, @product.delivery_days.include?(day), id: day.parameterize %>
        <%= label_tag day, day, for: day.parameterize, style: "margin-right: 10px;" %>
      <% end %>
    </div>
  </div>


  <div class="create-prod-button">
    <%= form.submit value: t('prod_sets.new.value') %>
  </div>

<% end %>