<div id="<%= dom_id product %>">
  <p>
    <strong>Subcat:</strong>
    <%= product.subcat_id %>
  </p>

  <p>
    <strong>Prod name:</strong>
    <%= product.prod_name %>
  </p>

  <p>
    <strong>Prod price:</strong>
    <%= product.prod_price %>
  </p>

  <p>
    <strong>Prod desc:</strong>
    <%= product.prod_desc %>
  </p>

  <p>
    <strong>Prod is avail:</strong>
    <%= product.prod_is_avail %>
  </p>

  <p>
    <strong>Prode image:</strong>
    <%= product.prode_image %>
  </p>

</div>
