<div id="<%= dom_id product %>">
  <p>
    <strong>Furniture:</strong>
    <%= product.furniture_id %>
  </p>

  <p>
    <strong>Manufacturer:</strong>
    <%= product.manufacturer_id %>
  </p>

  <p>
    <strong>Sub category:</strong>
    <%= product.sub_category_id %>
  </p>

  <p>
    <strong>Prod model:</strong>
    <%= product.prod_model %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= product.price %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= product.description %>
  </p>

</div>
