<div id="<%= dom_id product %>">
  <p>
    <strong>Sub category:</strong>
    <%= product.sub_category_id %>
  </p>

  <p>
    <strong>Prod name:</strong>
    <%= product.prod_name %>
  </p>

  <p>
    <strong>Prod price:</strong>
    <%= product.prod_price %>
  </p>

  <p>
    <strong>Manufacture:</strong>
    <%= product.manufacture_id %>
  </p>

  <p>
    <strong>Prod desc:</strong>
    <%= product.prod_desc %>
  </p>

  <p>
    <strong>Prod avail amount:</strong>
    <%= product.prod_avail_amount %>
  </p>

  <p>
    <strong>Prod raiting:</strong>
    <%= product.prod_raiting %>
  </p>

</div>
