<!--<h1>Products</h1>-->

<!--<div id="products">-->
<%# @products.each do |product| %>
<%#= render product %>
<!--    <p>-->
<%#= link_to "Show this product", product %>
<!--    </p>-->
<%# end %>
<!--</div>-->

<%#= link_to "New product", new_product_path %>

<%# @products.each do |product| %>
<!--  <div>-->
<%#= link_to product.prod_model, product_path(product) %>
<!--  </div>-->
<%# end %>

<section id="products">
  <div class="products-container">

    <div class="sorting-buttons">
      <%= link_to t('.by_name'), products_path(sort: 'name', direction: @sort_direction, sub_category_id: params[:sub_category_id]), class: "sort-button" %>
      <%= link_to t('.by_price'), products_path(sort: 'price', direction: @sort_direction, sub_category_id: params[:sub_category_id]), class: "sort-button" %>
      <%= link_to t('.by_rating'), products_path(sort: 'average_rating', direction: @sort_direction, sub_category_id: params[:sub_category_id]), class: "sort-button" %>
      <%= link_to t('.by_comments'), products_path(sort: 'comments_count', direction: @sort_direction, sub_category_id: params[:sub_category_id]), class: "sort-button" %>
      <%= link_to t('.by_production_speed'), products_path(sort: 'production_days', direction: @sort_direction, sub_category_id: params[:sub_category_id]), class: "sort-button" %>
    </div>

    <% @products.each do |product| %>
      <% furniture = Furniture.find(product.furniture_id) %>
      <%= link_to product_path(product), class: "product" do %>
        <div class="grey-square">
          <%= image_tag(product.product_image, class: 'image-div') if product.product_image.attached? %>
        </div>
        <div class="product-info">
          <p class="product-name">
            <%= "#{product.prod_model}" %>
            <% if product.average_rating %>
              <%= "<span class='product-price'>- #{t('.rating')}: #{product.average_rating.round(1)}</span>".html_safe %>
            <% else %>
              <%= "<span class='product-price'>- Немає оцінок</span>".html_safe %>
              - Немає оцінок
            <% end %>
          </p>
          <% if current_user %>
            <p class="product-price"><%= "#{product.price} #{current_user.currency}" %></p>
          <% else %>
            <p class="product-price"><%= "#{product.price} UAH" %></p>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
</section>
