<div class="product-container">
  <div class="grey-square-img"></div>

  <div class="product-details">
    <%# furniture = Furniture.find(@product.furniture_id) %>
    <h2><%= "#{@product.prod_model}" %></h2>
    <div class="price-order">
      <p class="price"><%= number_to_currency(@product.price, unit: "₴") %></p>
    </div>
    <div id="addProductToSetForm" style="display: none;">

      <!-- Форма для додавання товару до сету -->
      <%= form_tag(add_product_to_set_path, method: :post, remote: true) do %>
        <%= hidden_field_tag :product_id, @product.id %>
        <label for="prod_set">Виберіть сет:</label>
        <%= select_tag(:prod_set, options_for_select(ProdSet.all.map { |ps| [ps.set_name, ps.id] })) %>
        <br>
        <label for="quantity">Кількість товару:</label>
        <%= number_field_tag :quantity, 1, min: 1 %>
        <br>
        <%= submit_tag "Додати", class: "add-to-set-submit" %>
        <button type="button" class="close-button">Закрити</button>
      <% end %>

    </div>

    <div id="addProductToSetForm-overlay" style="display: none;"></div>
    <% possible_delivery_days = { "Понеділок" => 1,"Вівторок" => 2, "Середа" => 3, "Четвер" => 4, "П'ятниця" => 5, "Субота" => 6, "Неділя" => 7 } %>
    <% @closest_delivery_dates = {} %>
    <% closest_delivery_dates_4 = {} %>
    <% today = Date.today + @product.production_days%>
    <% current_day = today.wday%>
    <%i = 0%>


    <% @product.delivery_days.each do |day| %>
      <% days_difference = (possible_delivery_days[day]  - current_day).to_i %>
      <% days_difference += 7 if days_difference < 0 %>
      <% closest_delivery_dates_4[day] = today + days_difference %>
    <% end %>


    <%30.times do %>
    <% @product.delivery_days.each do |day| %>
      <%i = i + 1%>
      <% days_difference = (possible_delivery_days[day]  - current_day).to_i %>
      <% days_difference += 7 if days_difference <= 0 %>
      <% @closest_delivery_dates[i] = today + days_difference %>
    <% end %>
      <%today = @closest_delivery_dates[i]%>
      <%current_day = today.wday %>

    <% end %>
    <% @closest_delivery_dates = @closest_delivery_dates.sort_by { |day, date| date } %>

    <div class="description-container">
      <h1>Опис</h1>
      <p class="description" id="description-text"><%= @product.description %></p>
      <p class="description">Виробництво продукта: <%= @product.production_days %> днів </p>
      <p class="description">Можлива доставка: <%= @product.delivery_days.join(', ') %></p>
      <p class="description" id="last-description">Найближчі дні доставки:</p>
      <ul class="delivery-list">
        <% sorted_delivery_dates = closest_delivery_dates_4.sort_by { |day, date| date } %>
        <% sorted_delivery_dates.each do |day, date| %>
          <li> <%= date.strftime("%Y-%m-%d") %></li>
        <% end %>
      </ul>

      <div class="product-button-con">
        <% if current_user.is_a?(User) %>
          <%= link_to "Замовити", new_order_path(product_id: @product.id, delivery_dates: @closest_delivery_dates), class: "order-button" %>
        <% end %>
        <% if current_user.present? %>
          <a href="#" class="add-to-set-button">Додати до сету</a>
          <%= button_to "Написати виробнику", chats_path(manufacturer_id: @product.manufacturer.id), method: :post, class: "chat-button"%>
        <% end %>
      </div>

    </div>
  </div>
</div>

<% if flash[:success].present? %>
  <div class="alert alert-success">
    <%= flash[:success] %>
  </div>
<% end %>

<script>
    document.addEventListener('turbo:load', function() {
        let addButton = document.querySelector(".add-to-set-button");
        let formDiv = document.getElementById("addProductToSetForm");
        let overlay = document.getElementById("addProductToSetForm-overlay");
        let closeButton = document.querySelector(".close-button");

        addButton.addEventListener("click", function(event) {
            event.preventDefault(); // Уникнення стандартної дії посилання
            formDiv.style.display = "block";
            overlay.style.display = "block"; // Показуємо overlay
        });

        closeButton.addEventListener("click", function() {
            formDiv.style.display = "none";
            overlay.style.display = "none"; // Приховуємо overlay
        });

        document.addEventListener('turbo:click', function (event) {
            addButton.addEventListener("click", function(event) {
                event.preventDefault(); // Уникнення стандартної дії посилання
                formDiv.style.display = "block";
                overlay.style.display = "block"; // Показуємо overlay
            });

            closeButton.addEventListener("click", function() {
                formDiv.style.display = "none";
                overlay.style.display = "none"; // Приховуємо overlay
            });
        })
    });

</script>
