<div id="<%= dom_id client %>">
  <p>
    <strong>Client name:</strong>
    <%= client.client_name %>
  </p>

  <p>
    <strong>Client surname:</strong>
    <%= client.client_surname %>
  </p>

  <p>
    <strong>Client patron:</strong>
    <%= client.client_patron %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= client.email %>
  </p>

  <p>
    <strong>Password:</strong>
    <%= client.password %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= client.phone %>
  </p>

</div>
