<div class="subcategory-columns">
  <div class="subcategory-column">
    <p><%= t('categories.descriptions.kitchen') %></p>
  </div>
</div>

<div class="subcategory-description">
  <h3><%= t('categories.descriptions.btn') %> (<%= @sub_categories.count %>)</h3>
</div>

<div class="subcategory-columns">
  <div class="subcategory-column">
    <ul>
      <% @sub_categories_left.each do |subcategory| %>
        <li><%= t("sub_categories.#{subcategory.subcat_name}") %></li>
      <% end %>
    </ul>
  </div>

  <div class="subcategory-column">
    <ul>
      <% @sub_categories_middle.each do |subcategory| %>
        <li><%= t("sub_categories.#{subcategory.subcat_name}") %></li>
      <% end %>
    </ul>
  </div>

  <div class="subcategory-column">
    <ul>
      <% @sub_categories_right.each do |subcategory| %>
        <li><%= t("sub_categories.#{subcategory.subcat_name}") %></li>
      <% end %>
    </ul>
  </div>
</div>
