<div class="subcategory-columns">
  <div class="subcategory-column">
    <p><%= t('categories.descriptions.work_area') %></p></div>
</div>

<div class="subcategory-description">
  <h3><%= t('categories.descriptions.btn') %> (<%= @sub_categories.count %>)</h3>
</div>

<div class="subcategory-columns">
  <div class="subcategory-column">
    <% @sub_categories_left.each do |subcategory| %>
      <p><%= t("sub_categories.#{subcategory.subcat_name}") %></p>
    <% end %>
  </div>

  <div class="subcategory-column">
    <% @sub_categories_middle.each do |subcategory| %>
      <p><%= t("sub_categories.#{subcategory.subcat_name}") %></p>
    <% end %>
  </div>

  <div class="subcategory-column">
    <% @sub_categories_right.each do |subcategory| %>
      <p><%= t("sub_categories.#{subcategory.subcat_name}") %></p>
    <% end %>
  </div>
</div>
