<main>

  <section id="about-us">
    <div class="background-image">
      <div class="container-about">
        <h1 id="logo-text">FURNITURE ONLIONE STORE</h1>
        <button class="about-button"><%= t('home.about_us') %></button>
      </div>
    </div>
  </section>

  <section id="categories">
    <h1 id="category-title"><%= t('home.cat_title') %></h1>

    <div class="category-grid">

      <div class="category-column">

        <%= link_to sub_categories_path(category_name: "Вітальня") do %>
          <div class="cat-img-dark">
            <%= image_tag "categorys/livingroom.jfif", class: "category-img", alt: "Вітальня" %>
            <div class="work-text-content">
              <p>Вітальня</p>
            </div>
          </div>
        <% end %>

        <%= link_to sub_categories_path(category_name: "Робоча зона") do %>
          <div class="cat-img-dark">
            <%= image_tag "categorys/workplace.jfif", class: "category-img", alt: "Робоча зона" %>
            <div class="work-text-content">
              <p>Робоча зона</p>
            </div>
          </div>
        <% end %>

      </div>
      <div class="category-column">

        <%= link_to sub_categories_path(category_name: "Кухня") do %>
          <div class="cat-img-dark">
            <%= image_tag "categorys/kitchen.jfif", class: "category-img", alt: "Кухня" %>
            <div class="work-text-content">
              <p>Кухня</p>
            </div>
          </div>
        <% end %>

        <%= link_to sub_categories_path(category_name: "Зберігання") do %>
          <div class="cat-img-dark">
            <%= image_tag "categorys/storage.jfif", class: "category-img", alt: "Зберігання" %>
            <div class="work-text-content">
              <p>Зберігання</p>
            </div>
          </div>
        <% end %>

      </div>
      <div class="category-column">

        <%= link_to sub_categories_path(category_name: "Спальня") do %>
          <div class="cat-img-dark">
            <%= image_tag "categorys/bedroom.jfif", class: "category-img", alt: "Спальня" %>
            <div class="work-text-content">
              <p>Спальня</p>
            </div>
          </div>
        <% end %>

        <%= link_to sub_categories_path(category_name: "Сад") do %>
          <div class="cat-img-dark">
            <%= image_tag "categorys/garden.jfif", class: "category-img", alt: "Сад" %>
            <div class="work-text-content">
              <p>Сад</p>
            </div>
          </div>
        <% end %>

      </div>
    </div>
  </section>

  <section id="why-we">
    <h1 id="why-we-title"><%= t('home.why_us') %></h1>

    <div class="why-we-grid">
      <div class="why-we-column">
        <%= image_tag "why we/delivery-truck-truck-svgrepo-com.svg", class: "why-we-icon", alt: "Free shipping icon" %>

        <h2 id="why-we-column-title"><%= t('home.shipping') %></h2>

        <p><%= t('home.shi_p') %></p>
      </div>

      <div class="why-we-column">
        <%= image_tag "why we/credit-card-payment-svgrepo-com.svg", class: "why-we-icon", alt: "Pro support icon" %>

        <h2 id="why-we-column-title"><%= t('home.support') %></h2>

        <p><%= t('home.sup_p') %></p>
      </div>

      <div class="why-we-column">
        <%= image_tag "why we/checked-tick-svgrepo-com.svg", class: "why-we-icon", alt: "Quality guarantee icon" %>

        <h2 id="why-we-column-title"><%= t('home.guarantee') %></h2>

        <p><%= t('home.gua_p') %></p>
      </div>

      <div class="why-we-column">
        <%= image_tag "why we/shopping-cart-shop-svgrepo-com.svg", class: "why-we-icon", alt: "Easy return icon" %>

        <h2 id="why-we-column-title"><%= t('home.return') %></h2>

        <p><%= t('home.ret_p') %></p>
      </div>
    </div>
  </section>

</main>