<header>

  <div class="icons-container">

    <div class="icons-item"><%= link_to "FOS", root_path, id: "link-logo" %></div>

    <div class="search-container">
      <input type="search" id="search" placeholder="">
      <%= image_tag "header/loupe-search-svgrepo-com.svg", class: "search-icon", alt: "Search Icon" %>
    </div>

    <a href="#" class="nav-icons">
      <%= image_tag "header/shopping-cart-svgrepo-com.svg", class: "nav-icons", alt: "Cart icon" %>
    </a>

    <%= link_to new_user_registration_path, class: "nav-icons" do %>
      <%= image_tag "header/user-svgrepo-com.svg", class: "nav-icons", alt: "User Icon" %>
    <% end %>
  </div>
</header>

<div class="background-image">
  <div class="container-sign">
    <h2>Реєстрація</h2>

    <div class="form-container">
      <%= form_with(model: resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <div><%= f.text_field :first_name, placeholder: "Ім'я", class: "input-field" %></div>
        <div><%= f.text_field :last_name, placeholder: "Прізвище", class: "input-field" %></div>
        <div><%= f.text_field :middle_name, placeholder: "По батькові", class: "input-field" %></div>
        <div><%= f.email_field :email, placeholder: "Пошта", class: "input-field" %></div>
        <div><%= f.text_field :phone_number, placeholder: "Номер телефону", class: "input-field" %></div>
        <div><%= f.password_field :password, placeholder: "Пароль", class: "input-field" %></div>
        <div><%= f.password_field :password_confirmation, placeholder: "Підтвердження паролю", class: "input-field" %></div>
        <div><%= f.submit "Зареєструватися", class: "btn" %></div>
      <% end %>
    </div>

    <p><%= link_to "Я вже зареєстрований", new_user_session_path, class: "link-registration" %></p>
  </div>
</div>