<div id="<%= dom_id payment %>">
  <p>
    <strong>Order:</strong>
    <%= payment.order_id %>
  </p>

  <p>
    <strong>Payment method:</strong>
    <%= payment.payment_method %>
  </p>

  <p>
    <strong>Transaction:</strong>
    <%= payment.transaction_id %>
  </p>

  <p>
    <strong>Payment status:</strong>
    <%= payment.payment_status %>
  </p>

  <p>
    <strong>Payment date:</strong>
    <%= payment.payment_date %>
  </p>

</div>
