<div class="comm-wrapper">
  <div class="comm-container">
    <% product_comments = @comments.select { |comment| comment.product_id.to_s == params[:product_id] } %>
    <h3 class="chat-header"><%= t('.title') %> (<%= product_comments.count %>)</h3>
    <br />
    <% if current_user %>
      <%= form_with(model: @comment, url: product_comments_path, method: "post") do |form| %>
        <div class="comm-form">
          <div class="comm-field">
            <div class="rating-buttons">
              <%= form.label :rating, t('.rating'), class: "rating-label" %><br>
              <% (1..5).each do |i| %>
                <%= form.button type: "button", class: "rating-button#{'selected' if i == @comment.rating}",
                                data: { rating: i }, onclick: "setRating(#{i})" do %>
                  <%= i %>  &#9733;
                <% end %>
              <% end %>
            </div>
          </div>

          <div class="comm-field">
            <%= form.text_area :text, class: "comment-input"%>
          </div>

          <%= form.hidden_field :rating, id: "rating-input" %>
          <%= form.submit t('.send'), class: "comm-submit" %>
        </div>
      <% end %>
    <% end %>

    <div class="comments">
      <% @comments.each do |comment| %>
        <% if comment.product_id.to_s == params[:product_id] %>
            <div class="comm-content">
              <h3><%= comment.user.username %> (<%= t('.grade') %> <%= comment.rating %>/5):  </h3>
              <p> <%= comment.text %></p>

              <% if @user_type == "Користувач" && comment.user.id == current_user.id %>
                  <%= button_to t('.delete'), comment_path(comment), method: :delete, data: { confirm: 'Ви впевнені?' }, class: 'delete-button' %>
              <% end %>
            </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>


<script>
    function setRating(rating) {
        // для схованого поля устанавлюю обраний рейтинг
        document.getElementById("rating-input").value = rating;

        // всі кнопки рейтингу
        var buttons = document.querySelectorAll('.rating-button');
        buttons.forEach(function(button) {
            var buttonRating = button.getAttribute('data-rating');

            // Перевірити, чи співпадає рейтинг кнопки з обраним рейтингом
            if (buttonRating == rating) {
                // Додати клас 'selected' для вибраної кнопки
                button.classList.add('selected');
            } else {
                // Видалити клас 'selected' для всіх інших кнопок
                button.classList.remove('selected');
            }
        });
    }
</script>