<%= form_with(model: order_set) do |form| %>
  <% if order_set.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(order_set.errors.count, "error") %> prohibited this order_set from being saved:</h2>

      <ul>
        <% order_set.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :prodset_id, style: "display: block" %>
    <%= form.text_field :prodset_id %>
  </div>

  <div>
    <%= form.label :total_price, style: "display: block" %>
    <%= form.text_field :total_price %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
