<p style="color: green"><%= notice %></p>

<%= render @order_set %>

<div>
  <%= link_to "Edit this order set", edit_order_set_path(@order_set) %> |
  <%= link_to "Back to order sets", order_sets_path %>

  <%= button_to "Destroy this order set", @order_set, method: :delete %>
</div>
