<p style="color: green"><%= notice %></p>

<%= render @manufacture %>

<div>
  <%= link_to "Edit this manufacture", edit_manufacture_path(@manufacture) %> |
  <%= link_to "Back to manufactures", manufactures_path %>

  <%= button_to "Destroy this manufacture", @manufacture, method: :delete %>
</div>
