<div class="row">
  <div class="col-12">
    <%= simple_form_for([@room, RoomMessage.new], data: {
      action: "turbo:submit-end->room_messages#resetForm",
      controller: "reset-form",
      messages_target: "input_form"
    }) do |f|%>
      <div class="input_form">
        <%= f.input  :body,
          label: false,
          data: {
            reset_form_target: "input"
          },
          input_html: { class: "message-input", placeholder: "Type your message here"},
          wrapper_html: {class: "form-control"},
          class: "form-control input-group-lg"%>
        <%= f.submit "Send", class: "chat-submit" %>
        <a href="<%= description_category_path(@category_name) %>" data-method="post" class="chat-submit"><%= t('Back') %></a>
        <a href="<%= rooms_path() %>" data-method="post" class="chat-submit"><%= t('Rooms') %></a>
      </div>
    <% end %>
  </div>
</div>